<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wile.features.settings">
    <application>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/activity_settings_label"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Main.NoActionBar" />
    </application>
</manifest>
